body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: black;
}
.container {
    margin: 0 auto;
    padding: 0 16px;
}
.header-main {
    display: flex;
    align-items: center;
    padding: 18px 0;
    flex-direction: column;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 18px 0;
}
.nav-list a {
    text-decoration: none;
    color: black;
    padding: 8px 10px;
    border-radius: 6px;
}
.hero .hero-content {
    text-align: center;
}
.button-hero {
    background: #06b6d4;
    color: black;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
}
.feature-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}
.feature-card {
    background: #fff;
    border: 1px solid #e6e9ee;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
}
.team-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.team-member{
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e6e9ee;
}
.team-member img {
    width: 48px;
    height: 48px;
}
footer {
    text-align: center;
}
.social-media {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.social-media img {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}
@media (min-width: 768px) {
    .header-main {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
    }
    .team-member img {
        width: 64px;
        height: 64px;
        border-radius: 8px;
    }
}
@media (min-width: 1024px) {
    .team-list {
        flex-direction: row;
        justify-content: center;
    }
    .team-member {    
        width: calc((100% - 25px) / 3);
    }
}