body{
    font-family: 'sans-serif', Tahoma;
    color:#111827;
}
.container{
    width:100%;
    margin:0 auto;
}
.header{
    padding:16px 0;
}
.navbar-main{
    display:flex;
    flex-direction: column;
    gap:12px;
    align-items:center;
}
.nav-list{
    list-style:none;
      display:flex;
}
.nav-list a{
    text-decoration:none;
    color:#374151;
    padding: 8px 12px;
    border-radius:8px;
}
.nav-list a:hover{
    background:#f1f5f9;
}
.hero{
    padding:48px 0;
}
.hero .hero-content{
    display:flex;
    flex-direction:column;
    gap:18px;
}
.hero p{
    color:grey;
    font: size 14px;
    text-align: center;
}
.button-hero{
    background:#06b6d4;
    color:#021423;
    padding:12px 20px;
}
.features{
    padding:40px 0;
}
.features-main h2{
    text-align: center;
}
.feature-list{
    display:flex;
    flex-direction:column;
    gap:12px;
}
.feature-card{
    padding:14px;
    display:flex;
    gap:12px;
    border: #021423 1px solid;
}
.team-list{
    display:flex;
    gap:12px;
    align-items:center;
    justify-content:center;
}
.team-member{
    gap:12px;
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align:center;
    border: #021423 1px solid;
    padding:12px;
}
.team-heading{
    text-align: center;
    margin-bottom:16px;
}
.team-member img{
    width:64px;
    height:64px;
    border-radius:8px;
}
footer{
    padding:20px 0;
    align-items: center;
}
.footer-inner{
    display:flex;
    flex-direction:column;
    gap:8px;
    align-items: center;
}
.social-media img{
    width:20px;
    height:20px;
}
@media (min-width: 768px){
    .container{
        width:90%;
        margin:0 auto;
    }
    .navbar-main{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1024px){
    .container{
        width:90%;
        margin:0 auto;
    }
    .hero .hero-content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .feature-list{
        flex-direction: row;
        justify-content: space-between;
    }
}