html,body{
    margin:0;
    font-family:sans-serif;
}
.container{
    padding:0 16px;
    margin:0 auto}

/* Navbar */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar .nav-list{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    gap:12px;
    align-items:center
}
.navbar .nav-list a{
    text-decoration:none;
    color: black;
    padding:8px 6px;
    border-radius:6px
}
/* Hero */
.hero .hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:16px;
    text-align:center;
}
.hero .hero-text h1{
    margin:0;
    font-size:1.5rem
}
.hero .hero-text p{
    margin:0;
    color:gray
}
.button-hero{
    border:0;
    padding:12px 20px;
    background:aqua;
    color:black;
    border-radius: 30px;
    box-shadow: black 0px 4px 6px 1px;
}
/* Features */
.features{
    padding:32px 0
}
.feature-heading{
    text-align:center
}
.feature-list{
    display:flex;
    justify-content:center;
    gap:16px;
}
.feature-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 5px;
    border-radius:8px;
    background:#f8fafc;
    box-shadow:0 1px 0 rgba(0,0,0,0.02);
}
.feature-icon{
    font-size:50px;
}
/* Team */
.team{
    padding:32px 0
}
.team-heading{
    text-align:center;
}
.team-list{
    display:flex;
    gap:16px;
    justify-content:center;
}
.team-member{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:12px;
    align-items:center;
    padding:12px;
    background:#f8fafc;
    border-radius:8px;
}
.team-member img{
    width:70px;
    height:70px;
    border-radius:8px;
}
/* Footer */
footer{
    padding:24px 0;
    background:transparent;
}
.footer-main{
    display:flex;
    flex-direction:column;
    gap:12px;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.social-media{
    display:flex;
    gap:8px;
    align-items:center;
}
.social-media img{
    width:28px;
    height:28px;
}
@media (max-width:768px){
    .hero .hero-content{
        flex-direction:column;
        text-align:left;
        gap:40px;
    }
    .feature-list{
        gap:24px;
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap;
    }   
    .team-list{
        gap:24px;
        justify-content:center;
    }
    .footer-main{
        justify-content:space-between;
        text-align:center;
    }
}
@media (min-width:1024px){
    .container{
        max-width:1200px;
        margin:0 auto;
    }
    .hero .hero-content{
        flex-direction:row;
        text-align:left;
        gap:80px;
    }
    .feature-list{
        gap:32px;
    }
    .team-list{
        gap:32px;
        justify-content:center;
    }   
    .footer-main{
        flex-direction:row;
        justify-content:center;
        gap:16px;
        text-align:center;
    }
}